* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;


}


body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  color: var(--tertiary-color);
  color: #fff;
}




:root {
  --primary-color:rgb(0, 0, 0):
  --secondary-color:rgb(229, 9, 20):
  --tertiary-color: rgb(255, 255, 255)
}


.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  padding: 0 6rem;
  background-color: var(--primary-color);
  background-color: #000;
  z-index:100;
  /* overflow-x: hidden; */

}
.left {
  display: flex;
  align-items: center;
}

.lists {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 2.4rem;
}

.lists li {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 600;
  padding-right: 1.2rem;
}


.right {
  display: flex;
  align-items: center;

}

.right img {
  width: 2rem;
  margin: 0 1.4rem;
}

.prof-pic {
width: 4rem;
}

.main {
  position: relative;
}



.section {
  padding: 6rem;
  /* overflow-x: hidden; */
}


.hero {
  background-image: url('./img/MoviePoster\ \(36\).png');
  /* height: 100vh; */
  background-position: center;
  background-repeat:  no-repeat;
  background-size: cover;
  /* max-width: 180rem; */
  /* min-width: 120rem; */
  display: flex;
  flex-direction: column ;
  padding: 10rem 0 0 6rem;
  /* overflow-x: hidden; */
}



.hero h1 {
  width: 30rem;
  font-size: 6.4rem;
  text-align: center;
  line-height: 3.8rem;
  font-weight: 800;
  text-transform: uppercase;
}

.hero h1 span {
  font-weight: 400;
  align-items: center;
  text-align: center;
}


.top-movie {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  width: 35rem;
  justify-content: space-between;
  margin: 2rem 0;
}


.det {
  width: 48rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.btns {
  margin: 2rem 0;
  display: flex;

}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  padding: 1rem 4rem;
 border-radius: .8rem;
 font-weight: 600;
}

.btn img {
  margin-right: 1.2rem;
}

.btn-play {
 background-color: #fff;
 margin-right: 2rem;
}

.btn-det {
  background-color: rgb(255, 255, 255, 0.3);
   color: #fff;
}


.det-mov {
  font-size: 2rem;
  margin: 3.2rem 0 1rem;
}

.mlst img {
  width: 18%;
}


.mov-list {
  /* display: grid;
  grid-template-columns: repeat(5, 1fr); */
  display: flex;
  gap: .4rem;
  position: relative;
  width: 100%;

  /* width: 120rem; */
    /* overflow-x: ; */

}

.mlist img {
  height: 28rem;
}

.mlist .abs {
  height: 4rem;
}

.mov-list img {
  width: 20%;
}

.ranking-movie .abs {
  display: none;
}

.mov-list .abs {
  position: absolute;
  right:  2rem;
  width: 4rem;
  top: 8rem;
  background-color: rgba(0, 0, 0, 0.6);
  /* padding: 1rem; */
}

.pabs {
  position: absolute;
  font-size: 6rem;
  left: 2rem;
  top: 4rem;
}

.det-mov img {
  width: 18rem;
}

.ranking-movie {
  /* display: grid;
  grid-template-columns: repeat(10, 1fr); */
  display: flex;
  padding-left: 2.4rem;
  position: relative;
  width: 100%;
}

.ranking-movie img {
  width: 10%;
}

.ranking-movie .abs {
  height: 4rem;
}

.odiche {
  padding: 4em 0 2rem 4rem;
}

.mov-list-2 {
  /* display: grid;
  grid-template-columns: repeat(6, 1fr); */
  display: flex;
  gap: .4rem;
  position: relative;
  width: 100%;

}

.mov-list-2 img {
  width: 15%;
  height: 14rem;
}

.list-section {
  padding:4rem 12rem;
  color: #888;
  /* overflow-x: hidden; */


}

.socials {
  display: flex;
  align-items: center;
}

.socials img {
  margin-right: 2rem;
}


.lists2-0 {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.lists2-0 ul li {
  padding-bottom: 2rem;
}

.bnt {
  font-size: 1.2rem;
  border: .2rem solid #888;
  color: #888;
  background-color: transparent;
  padding: 1rem 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}


.opuruiche {
  /* overflow-x: hidden; */

}


.footer {
  font-size: 1.2rem;
}

/* MEDIA QUERIES */

@media(max-width: 54em){
  .navigation .lists {
    display: none;
  }

  .mlist img {
    height: 20rem;
  }

  .list-section {
    padding: 4rem ;
  }

  .abs {
    display: none;
  }
  .pabs {
    display: none;
  }
}

@media(max-width:39.25em){
   .lists2-0 {
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }

  /* .hero {
    padding: 4rem;
  } */

  .section {
    padding: 2rem;
  }

  .socials {
    /* align-items: center; */
    justify-content: center;
    margin-bottom: 4rem;
  }

  .lists2-0 ul {
    margin-bottom: 2rem;
  }

  .lists2-0 ul li {
    text-align: center;
  }

  .bnt-spn {
    display: flex;
    justify-content: center;
  }

  .bnt {
    /* margin: 0 auto; */
    align-self: center;
  }

  .footer {
    text-align: center;
  }

  .opuruiche {
    display: none;
  }

  .right {
    display: none;
  }
  
  .mlst {
    display: none;
  }

  .hero .most-pop {
    display: none;
  }

  .hero {
    padding: 4rem 0 0 4rem;
    justify-content: center;
    align-items: center;
  }

  .hero h1 {
    font-size: 3.2rem;
    /* width: 28rem; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: ;
    justify-content: center;
  }

  .det {
    width: 32rem;
    font-size: 1.4rem;
    text-align: center;
  }

  .btns {
    flex-direction: column;

  }

  .btn img {
    margin-right: .8rem;
  }

  .hero .btn {
    margin-bottom: 2rem;

  }

 
}

@media(max-width:24em){
  .hero {
    padding: 0;
  }

  .hero h1 {
    margin-top: 4rem;
  }

  .top-movie {
    font-size: 1.4rem;
    width: 24rem;
  }

  .section {
    padding: .8rem;
  }

  .navigation {
    position: relative;
  }

  .det {
    font-size: 1.2rem;
  }

  .hero h1 {
    font-size: 2.4rem;
  }
}
