* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

}


body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  color: var(--tertiary-color);
  color: #fff;
}




:root {
  --primary-color:rgb(0, 0, 0):
  --secondary-color:rgb(229, 9, 20):
  --tertiary-color: rgb(255, 255, 255)
}


.navigation {
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  padding: 0 6rem;
  background-color: var(--primary-color);
  background-color: #000;
  z-index:100;
}

.navigation img {
  height: 4rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 8rem; */
  padding-top: 8rem;
}


.htwo {
  font-size: 4.8rem;
  text-align: center;
  color: #fff;
  font-weight: 400;
}

.section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  gap: 4rem;
  margin: 2.4rem 0;
}

.btn {
  border: .3rem solid #888;
  color: #888;
  padding: .8rem 2.8rem;
  background-color: transparent;
}
.section img {
  width: 16rem;
}

/* MEDIA QUERIES */

@media(max-width:62.5em) {

  .section img {
    width: 12rem;
  }
  
  .main {
    padding-bottom: 4rem;
  }
}

@media(max-width:48em) {
  .section {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media(max-width:32.7em) {

  .htwo {
    font-size: 2.8rem;
  }
  .section {
    grid-template-columns: repeat(2, 1fr);
  }

  .navigation img {
    height: 2.8rem;
  }

  .section img {
    width: 10rem;
  } 
}

